<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 col-12">
        <div class="container text-center" style="color: blue; font-size: xx-large;">
            Account Statement   
        </div>
        <div class="pagination container text-end">
            <button class="btn btn-info">credit</button>
            <button class="btn btn-info">Debit</button>
            <button class="btn btn-info">All</button>
        </div>
        <div>
            <table id="customers">
                <tr>
                  <th>#</th>
                  <th>Type</th>
                  <th>Amount</th>
                  <th>Date</th>
                </tr>
            </table>
        </div>
        <div class="container P-3">
            <button class=" btn btn-warning" type="button">Export As pdf</button>
        </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-12">
        <div class="container text-center">
            <img src="https://i.postimg.cc/gJ2bPCdR/statement.jpg" alt="" style="width: 90vh;">
        </div>
        <div class="container text-end p-3" >
            <button class=" btn btn-success" type="button">Back To Home</button>
        </div>
    </div>
</div>
</div>
