<body style="background-color: black;">
  <h1 class="mt-3 ms-3" style="color: aqua;">{{data}}</h1>
<div class="container-fluid" >
  <div class="row">
    <div class=" col-lg-6 col-md-12 col-sm-12 col-12 ">
      <img src="https://i.postimg.cc/JnCDBmzq/avathar.png" alt="" class="t">
      <h4 class="animate-charcter mt-3 " > Your Perfect Banking Partner</h4>
      
    </div>
    <div class="t container col-lg-6 col-md-12  col-sm-12">
      <div class="slider">
        <form class="form mt-5">
          <span class="title text-info">LOGIN</span>
          <div class="form_control">
            <input name="uname" id="u1" class="input" type="text" [placeholder]="pdata">
          </div>
          <div class="form_control">
            <input name="passW" id="p1" class="input" type="password" placeholder="Enter your password">
          </div>
          <button (click)="login()" type="submit" class="fs-5">Login</button>
          <p class="text-white ">Dont have an account ? <a class="text-info" style="text-decoration:none ;"
              href="register">Create account</a></p>
        </form>
      </div>
    </div>
  </div>
</div>
</body>