<div class="row">
    <div class="text-center col-lg-6 col-md-12 col-sm-12">
        <img src="https://i.postimg.cc/tRmkkLMf/141.jpg" alt="" style=" width: 600px">
    </div>
    <div class="container col-lg-6 col-md-12  col-sm-12">
        <div class="slider">
            <form  class="form">
                <span class="title text-info">SIGNUP</span>
                <div class="form_control">
                    <input  name="uname1" id="u2" class="input" type="text" placeholder="Enter user name....">
                </div>
                <div class="form_control">
                    <input name="acno" id="ac" class="input" type="text" placeholder="Enter Account Number.....">
                </div>
                <div class="form_control">
                    <input name="passw1" id="p2" class="input" type="password" placeholder="Enter password">
                </div>
                <div class="form_control">
                    <input name="passW2" id="p3" class="input" type="password" placeholder="Confirm password">
                </div>
                <button type="submit" class="fs-5">Signup</button>
                <p class="text-white ">Already have an account ? <a class="text-info" style="text-decoration:none ;"
                        href=""> Login</a></p>
            </form>
        </div>
    </div>
</div>