.box{
    background-color: #2196F3;
    color: white;
    width: 300px;
    line-height: 150px;
    text-align: center;
    margin: 4lvh;
    padding: 3lvh;
    border-radius: 15px;
    font-size: larger;
    font-weight: 1000;
  }
  #main_div{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }